{% extends "base.html" %}
{% block title %}Spending analyzer{% endblock %}

{% block content %}
    <hr>
    <h3 class="mt-4">Spending summary for {{ year }} - {{ month }}.<br>Total sum: {{ one_month_total_sum }}</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
            {% for grouped_spending_category, total_sum in one_month_main_categores_spending_sum.items() %}
                <th> {{grouped_spending_category}}: {{total_sum}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for subcategory_with_price in grouped_spendings.values() %}
                    <td>
                    {% for one_element in subcategory_with_price %}
                        {{one_element[0]}}: {{one_element[1]}} <br>
                    {% endfor %}
                    </td>
                {% endfor %}                
            </tr>
        </tbody>

    </table>

{% endblock %}