{% extends "base.html" %}
{% block title %}Spending analyzer{% endblock %}

{% block content %}
    <hr>
    {% for month, main_categories in grouped_spendings_year.items() %}
    
        <h3 class="mt-4">Spending summary for {{ year }} - {{ month }}</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for main_category_dict in main_categories %}
                        {% for main_category in main_category_dict.keys() %}
                            <th>{{ main_category }}</th>        
                        {% endfor %}
                </tr>
            </thead>
            <tbody>
                    {% for main_category_details in main_category_dict.values() %}
                        <td>
                            {% for main_category_detail in main_category_details %}
                                {{main_category_detail[0]}}: {{main_category_detail[1]}}<br>
                            {%endfor%}
                        </td>
                    {% endfor %}
                {%endfor%}
            </tbody>
        </table>

    {% endfor %}
{% endblock %}